<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 isotope-item">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Movie #<%= movie.id %> (<%= movie.likes.count %>)</h3>
    </div>
    <div class="panel-body">
      <%= link_to image_tag(movie.image_url), movie, :class => "thumbnail" %>

      <dl>
        <dt>Title</dt>
        <dd><%= movie.title %></dd>

        <dt>Year</dt>
        <dd><%= movie.year %></dd>

        <dt>Duration</dt>
        <dd><%= movie.duration %></dd>

        <dt>Description</dt>
        <dd><%= movie.description %></dd>

        <dt>Director</dt>
        <dd>
          <%= movie.director.try(:name) %>
        </dd>

      </dl>
      <div class="btn-group btn-group-justified">
        <%= link_to movie_url(movie), :class => "btn btn-primary" do %>
          <i class="fa fa-search-plus"></i>
        <% end %>
        <%= link_to edit_movie_url(movie), :class => "btn btn-warning" do %>
          <i class="fa fa-edit"></i>
        <% end %>
        <%= link_to movie_url(movie), :method => "delete", :data => { :confirm => "Do you really want to delete this movie?" }, :class => "btn btn-danger" do %>
          <i class="fa fa-trash-o"></i>
        <% end %>
      </div>
      <%= form_for Like.new :user => current_user, :movie => movie do |f| %>
        <%= f.hidden_field :movie_id %>

        <%= f.submit :class => "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>







